.container {
  margin-top: 0.5rem;
  :global(.select__control) {
    border-width: 2px;
    box-shadow: none !important;
  }
  :global(.select-control--is-focused) {
    border-color: #000;
  }
  :global(.select__option:hover) {
    background-color: #efefef;
  }
  :global(.select__option--is-selected:hover) {
    background-color: #000;
  }
}