.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 0.5rem;
  padding: 1.5rem;
  min-height: calc(100vh - 190px);

  h2 {
    margin-top: 2rem;
  }

  .price a {
    font-weight: 500;
    color: #fd5304;
  }
}