.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 190px);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h1 {
    margin-bottom: 1rem;
  }

  p {
    margin-top: 1rem;
    max-width: 30rem;
    line-height: 1.7;
  }

  button {
    margin-top: 2.5rem;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    color: #fff;
    background-color: #000;

    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 6rem 2rem;
  }
}
